@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TETRIS */

/* div {
  border: .5px solid red;
  box-sizing: border-box;
} */

body {
  display: flex;
  font-family: "Press Start 2P", sans-serif;
  margin-top: 75px;
  background-color: black;
}

#tetris { 
  background-color: rgb(0, 11, 56);
}

#main-container {
  display: flex; 
  flex-direction: column;
  margin: auto;
  background: darkgray;
  border: 5px solid lightgray;
  border-style: outset;
}

#header-container {
  align-self: center;
  padding: 1em;
}

#header-text {
  font-size: 3em;
}

#col-containers {
  display: flex;
  flex-direction: row;
}

.border {
  border: 5px solid lightgray;
  border-style: inset;
}

#right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: .5em; */
}

.stats-label {
  padding: .35em;
}
.stats-value {
  width: 120px;
  padding: .5em 0;
  margin-bottom: .5em;
  text-align: center;
  color: red;
  background-color: rgb(0, 11, 56);
}

#preview {
  padding: 0;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 1em; */
}

a {
  color: black;
}

a:hover {
  color: rgb(5, 63, 65);
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1em;
  width: 130px;
  height: 45px;
  margin: .1em;
  border: 5px solid lightgray;
  border-style: outset;
  background-color: darkgrey;
}

#help-btn {
  width: 45px;
}

button:hover {
  font-size: 1.05em;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  border-style: inset;
}

.hidden{ 
  display: none;
}

.corner-box {
  display: flex;
  flex-direction: column;
  padding-top: .5em;
}

.corner-heading {
  font-size: .5em;
  text-align: center;
}
.corner-links {
  display: flex;
  justify-content: space-between;
}

.tech-img, .contact-link {
  width: 1em;
  padding: .25em;
  font-size: 1.2em;
}

.embossed {
  text-shadow: 1px 1px 2px whitesmoke;
}

.contact-link:hover, button:hover {
  text-shadow: -1px -1px 2px whitesmoke;
}